# IntelliJ IDEA
.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf/
out/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Common build artifacts
build/
target/
**/*.class

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Node
node_modules/

# Gradle
.gradle/
